body {
	font-family: "Protest Revolution", sans-serif;
    background: #e8f0ed; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
nav ul {
	list-style:none;
	padding-left: 10px;
}

nav a {
	color: rgb(107, 152, 121);
}

nav a:hover {
	color: gold;
}

#container {
    text-align: center;
}

header, footer {
	font-family: "Protest Revolution", sans-serif;
    color: #5a6f64; 
    padding: 20px 0;
    border-radius: 8px;
    margin-bottom: 20px;
	text-align: center;
}

header h1, header h2, footer p {
    margin: 10px 0;
    font-weight: 700;
}

header h1 {
    font-size: 4em;
}

header h2 {
    font-size: 2em;
	color: #89a195; 
}
main p {
    font-size: 4em;
    line-height: 3;
}

span {
    display: inline-block;
    margin: 0 5px;
    transition: transform 0.3s ease;
}

.shape-1 { transform: rotate(-20deg) scale(1.2); color: #6b8e23; }
.shape-2 { transform: translateY(-10px) rotate(15deg); color: #b6e8b6; }
.shape-3 { transform: scale(1.5) rotate(-30deg); color: #6caf81; }
.shape-4 { transform: skewX(20deg) rotate(25deg); color: #45815f; }
.shape-5 { transform: translateY(10px) rotate(-15deg); color: #84bb84; }
.shape-6 { transform: scale(0.8) rotate(20deg); color: #3cb371; }
.shape-7 { transform: skewY(-20deg) rotate(-25deg); color: #228b22; }
.shape-8 { transform: rotate(30deg) translateX(10px); color: #c2d996; }
.shape-9 { transform: rotate(-30deg) scale(1.3); color: #77b361; }
.shape-10 { transform: skewX(-15deg) rotate(35deg); color: #b0e8b0; }
.shape-11 { transform: scale(1.1) rotate(-22deg); color: #66cd8c; }
.shape-12 { transform: translateY(-15px) rotate(20deg); color: #2e8b57; }
.shape-13 { transform: skewY(15deg) rotate(-15deg); color: #84ce84; }
.shape-14 { transform: rotate(10deg) translateX(-10px); color: #3cb34c; }
.shape-15 { transform: scale(1.4) rotate(-5deg); color: #228b22; }
.shape-16 { transform: skewX(10deg) rotate(5deg); color: #a4e998; }

footer p {
    font-size: 1.2em;
    margin-top: 1em;
    color: #5a6f64;
}