html, body {
    margin: 0;
    padding: 0;
    font-family: 'Protest Revolution', sans-serif;
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: #474747; 
}

header h1 {
    display: inline-block;
    background-color: #f5f5dc;
    color: #474747;
    padding: 10px 20px;
    border-radius: 3px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin: 0;
    font-size: 2em;
}

header, footer {
    background-color: #474747;
    color: #f5f5dc;
    text-align: center;
	border-radius: 3px;
    padding: 2vw; /* Use viewport width for responsive padding */
    height: auto; 
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

main {
    background-image: url(img/Angel1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5vw; /* Responsive padding */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px);
}


.sections-container {
    width: 80%;
    max-width: 800px;
    padding: 0 1vw; /* Responsive side padding */
}

section {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2vw; /* Responsive padding */
    margin: 2vw 0; /* Responsive margin */
    border-radius: 10px;
    width: 60%;
    max-width: 600px;
    text-align: left;
}

h1, h2 {
    color: #f5f5dc;
    font-size: 3vw;
}
.h2-button {
    background-color: #474747; 
    color: #f5f5dc;
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 5px; 
    display: inline-block; 
    transition: background-color 0.3s; 
}

.h2-button:hover {
    background-color: #f5f5dc;
    color: #474747;
}

footer {
    position: relative;
    width: 100%;
    clear: both;
}

/* Responsive Design for small screens */
@media all and (max-width: 768px) {
    header, footer {
        padding: 3vw;
    }

    .sections-container, section {
        width: 90%; /* Increase width on smaller screens */
    }

    h1, h2 {
        font-size: 5vw; /* Increase font size on smaller screens */
    }
}

@media all and (min-width: 1024px) {
    .sections-container {
        width: 80%;
    }

    section {
        width: 100%; /* Keep sections full width of container */
    }
}
